* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 65.2%;
}

:root {
  /* font  */
  --font:sans-serif;
  /* color combination  */
  --bg:#faf5dd;
  --text:#000000;
  --footer:#5d6969cc;
  --body:#d1d1d1;
  --shadow:#97a4ad;
  --option_text:#252b3f;
  --button:#465279;
  --nav__bg:#9BAFB5;
}

body {
  font-family: 'poppins' sans-serif;
  background: var(--bg);
  scroll-behavior: smooth;
}

.clearfix {
  clear: both;
}

p {
  font-size: 1.6rem;
  color: var(--option_text);
}

a{
  text-decoration: none;
  color: var(--option_text);
}
a:hover{
  color: var(--text);
}

img {
  width: 100%;
  height: 100%;
}
strong{
  font-size: 2.5rem;
  font-weight: 900;
}

/* header strate css */
/* top header  */

.header__section {
  position: relative;
}

.header__icon {
  font-size: 1.6rem;
  padding: .5rem 0rem;
}

.header__link {
  text-decoration: none;
  color: #505077;
  font-size: 1.8rem;
}

.header__link:hover {
  color: #3d2723;
}

.btn__bg {
  background: var(--button);
  color: #fff;
  font-size: 1.6rem;
  padding: .5rem 5rem;
  position: absolute;
  top: .2rem;
  left: 65%;
}

.btn__bg:hover {
  color: #FFF;
}

.modal__trigger {
  position: relative;
}

.modal__btn {
  font-size: 1.6rem;
  color: #181717b7;
  background: var(--bg);
  position: absolute;
  top: 0rem;
  right: 0rem;
}

/* top header end  */
/* navigation header  */
.navigation__search {
  height: 22rem;
  margin: auto;
  padding-top: 0rem;
}

.navigation__chart {
  padding-top: 10rem;
}

/* navigation header end  */
/*footer header */
.header__footer__bg {
  background: #9BAFB5;
  padding: 0rem !important;
  z-index: 1;
}

.nav__brand {
  display: none;
}

.nav__item{
  /* background: red; */
  padding: 0rem 1rem;
}
.nav__item:hover .nav__menu{
  display: block;
}
.nav__link{
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--option_text);
}

.nav__menu{
  list-style: none;
  font-size: 1.6rem;
  position: absolute;
  background: var(--nav__bg);
  padding: 1.5rem 5rem;
  border-radius: .2rem;
 display: none;
}
/* header footer end  */

/* add carousel  */
.carousel__item{
  width: 100%;
  height: 45rem;
  z-index: -1;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #000;
  text-decoration: none;
  outline: 0;
  opacity: .9;
  width: 10rem;
  height: 10rem;
  top: 13rem;
}
.carousel-control-next:focus, .carousel-control-next, .carousel-control-prev:focus, .carousel-control-prev {
  color: #000;
  text-decoration: none;
  outline: 0;
  opacity: .9;
  width: 100px;
  height: 100px;
  position: absolute;
   top: 16rem !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}
.carousel-control-prev-icon {
  background-image: url('../img/books/banner/lefit-arrow.png');
}
.carousel-control-next-icon {
  background-image: url('../img/books/banner/right-arrow.png');
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
/* add carousel end */

/* menu  */
.menu__row{
 
  align-items: center;
  justify-content: center;
 
}
.menu{
  width: 45%;
  height: 8rem;
  overflow: hidden;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: 0rem 0rem .5rem .2rem var(--shadow);
    margin: 1rem;
    background: #fff;
}

/* menu end  */
/* book carousel  */
.carousel__section{
  width: auto;
  height: 60rem;
  border-radius: .5rem;
  box-shadow: 0rem 0rem .3rem  .2rem var(--shadow);
  margin: 5rem 0rem;
  padding: 4rem ;
  align-items: center;
  background: #fdf7e5;
}
.carousel__card{
  width: 25rem;
   height: 45rem;
    padding: 1rem;
}
.carousel__card__more{
  background:#465279;
   width:100%; 
    height:85%;   
     padding-top: 14rem;
}
.owl-carousel{
  height: 100%;
}

.item:hover .button__group{
  display: inline-block;
}
.items:hover .button__group{
  display: inline-block;
}
.button__group{
  position: relative;
  top: -12rem;
  background:#fbb726c2 ;
  width: 60%;
  margin: 0 auto;
  display: none;
  
}
.eye__icon:hover{
  background: #9c731b;
}
.owl-theme{

  align-items: center; 
  justify-content: center; 
  padding-left: 2rem;
}
/* book carousel end  */
/* footer section  */
footer{
  background: var(--footer);
}
/* footer section  */
/* next page  */
.nojrul__container{
  padding: 2rem;
}