@media screen and (max-width:1199px){
    .navigation{
        display: none;
    }
    .header__contact{
        display: none;
    }

    .menu{
        width: 45%;
        display: flex;
    }
    .carousel__card{
        margin: 2rem auto;

    }

}


@media screen and (max-width:991px){
    .nav__brand{
        display: block;
        width: 10rem;
        position: absolute;
        right: 50%;
        left: 50%;
        top: 3.2rem;
        transform: translate(-50%, -50%);   
    }
    .header__footer__bg{
        width: 100%;
        height: 13vh;

    }
    .nav__collapse{
        width: 70%;
        border-radius: 1rem;
        position: absolute;
        top: 3.5rem;
        left: 10%;  
      }
    .nav__item{
        background: #465279;
        
        position: relative;
        top: 3rem;
    }
    .nav__menu{
        list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    left: 12rem;
    top: -.5rem;
    background: #c2dde4;
    padding: 1.5rem 5rem;
    border-radius: .5rem;
    display: none;
    }
    .carousel__section{
        padding: 1rem;
    }
    .navbar-toggler-icon{
        color: #fff;
    }
}

@media screen and (min-width:991px){
    .menu{
        width: 40%;
        display: block;
    }
}
@media screen and (max-width:768px){
    .menu{
        width: 60%;
    }
    .carousel__card{
        margin: 2rem auto;

    }
    /* .item{
        
    } */
    .container{
        width: 100% !important;
        padding: 0;
        margin: 0 auto;
    }
    .carousel__section{
        padding: 1rem;
    }
    .footer__text{
        padding: 0 !important;
        width: 250px;
        margin: 0 auto;
        border-top: 1px solid #626864;
        
    }
    
   
}

@media screen and (max-width:568px){
    body{
        background: #fff;
    }
    .menu{
        width:100%;
    }

    .nav__menu{
        width: 100%;
        list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    left: .1rem;
    top: 11.2rem;
    background: #c2dde4;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: none;
   
    }
    .nav__about__menu{
        width: 100%;
        list-style: none;
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    left: .1rem;
    top: 18rem;
    background: #c2dde4;
    padding: .5rem 1rem;
    border-radius: .5rem;
    display: none;
    }
    .carousel-control-prev, .carousel-control-next{
        z-index: -1 !important;
    }
    .full__carousel{
        display: none;
    }
    .menu__row{
        margin-top: 5rem;
    }
}

@media screen and (max-width:400px){
    .menu{  
       width: 100%;
    }
    .nojrul__container{
        padding: none;
        
    }
    .carousel__section{
        padding: 1rem;
        padding-bottom:2rem ;
    }
    .owl-theme{
        padding: 0rem;
    }
    
    .container{
        width: 100% !important;
    }
    .menu{
        width:100%;
    }
    
    .footer__text{
        width: 70%;
    }
    .footer__icon__facebook{
        display: none;
    }
    .footer__icon__youtube{
        display: none;
    }
    .footer__icon__twiter{
        display: none;
    }
    .nav__item:hover .nav__menu{
        display: none;
      }
}
