@media screen and (max-width:1199px){
    .navigation{
        display: none;
    }
    .header__contact{
        display: none;
    }

    .menu{
        width: 45%;
        display: flex;
    }
}


@media screen and (max-width:991px){
    .nav__brand{
        display: block;
        width: 100px;
        /* margin-right: 50%; */
        position: absolute;
        right: 50%;
        left: 50%;
        top: 25px;
        transform: translate(-50%, -50%);
    }
    .header__footer__bg{
        width: 100%;
        height: 13vh;
    }
    .nav__item{
        background: var(--nav__bg);
        z-index: 9;
        position: relative;
        top: 3rem;
    }
    .nav__menu{
        z-index: 100;
    }
}

@media screen and (min-width:991px){
    .menu{
        width: 40%;
        display: block;
    }
}
@media screen and (max-width:768px){
    .menu{
        width: 60%;
    }
    .carousel__card{
        margin: 0 auto;
    }
    /* .item{
        
    } */
    .container{
        width: 100% !important;
        padding: 0;
        margin: 0 auto;
    }
    .carousel__section{
        padding: none;
    }
    
}

@media screen and (max-width:568px){
    .menu{
        width:100%;
    }
}
@media screen and (max-width:400px){
    .carousel__section{
        padding: 0rem !important;
        width: 100% !important;
        
    }
}
@media screen and (max-width:400px){
    .menu{  
       width: 100%;
    }
    .nojrul__container{
        padding: none;
    }
    .carousel__section{
        padding: 1rem;
    }
    .owl-theme{
        padding: 0rem;
    }
    
    .container{
        width: 100% !important;
    }
}
